.body{
  background-color: #878282;
  margin: 0px;
}
#container{
  margin: auto 0;
}

.topper{
background-color:  #878282;
padding-top: 20px;
padding-bottom: 10px;
color: #97DCF5;
font-family: 'Karla', sans-serif;
font-size: 40px;

}
.topperz{
background:#97DCF5;
padding-top: 10px;
padding-bottom: 10px;
color: #878282;
font-family: 'Karla', sans-serif;
font-size: 40px;
}


.headline{
  background-color: #97DCF5;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: 20px;
  margin-right: 20px;
  font-size: 35px;
  margin-top: 30px;
  font-family: 'Karla', sans-serif;
}
.byline{
  background-color: #97DCF5;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 20px;
  margin-left: 20px;
  margin-left: 40%;
  padding-left: 30px;
  font-size: 30px;
  font-family: 'Karla', sans-serif;

}
.date{
  background-color: #97DCF5;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 20px;
  margin-right: 40%;
  padding-left: 20px;
  font-family: 'Karla', sans-serif;

}

.photo1{
  background-color: black;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: 50px;
  color: white;
  font-family: 'Source Serif Pro', serif;
}

.photo2{
  background-color: #2E2E2E;
  color: white;
  padding-top: 20px;
  padding border-bottom: 10px;
  font-family: 'Source Serif Pro', serif;
  padding-bottom: 20px;
}


.block{
  background-color: #424242;
  color: #97DCF5;;
  font-size: 45px;
  font-style: italic;
  font-weight: bolder;
  font-family: 'Karla', sans-serif;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
}

.photo3{
  background-color: #585858;
  color: white;
  padding-top: 20px;
font-family: 'Source Serif Pro', serif;
padding-bottom: 20px;
}
.photo4{
  background-color: #6E6E6E;
  color: black;
  padding-top: 20px;
  padding-left: 30px;
  padding-right: 20px;
  font-family: 'Source Serif Pro', serif;
  padding-bottom: 20px;
}
.photo5{
  background-color: #A4A4A4;
  color: black;
  padding-top: 20px;
  font-family: 'Source Serif Pro', serif;
  padding-bottom: 20px;
}
.row{
  background-color: #BDBDBD;
  padding-top: 30px;
  padding-bottom: 20px;
  margin-top: 15px;
font-family: 'Source Serif Pro', serif;
  padding-left: 10px;
  padding-right: 20px;
}

.p1{
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 20px;
  padding-bottom: 20px;
  font-family: 'Source Serif Pro', serif;
}
.p2{
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 20px;
  padding-bottom: 20px;
  font-family: 'Source Serif Pro', serif;
}
.p3{
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 20px;
  padding-bottom: 20px;
  font-family: 'Source Serif Pro', serif;
}
.p4{
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 20px;
  padding-bottom: 20px;
  font-family: 'Source Serif Pro', serif;
}
.p5{
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 20px;
  padding-bottom: 20px;
  font-family: 'Source Serif Pro', serif;
}

.p6{
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 20px;
  padding-bottom: 20px;
  font-family: 'Source Serif Pro', serif;
}

.p7{
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 20px;
  padding-bottom: 20px;
font-family: 'Source Serif Pro', serif;
}

.sub1{
  color: #97DCF5;
font-family: 'Karla', sans-serif;
  padding-bottom: 20px;
  font-size: 30px;



}
